
@import "./partials/variables";
@import "./partials/generales";
@import "./partials/header";


// nesting
/*------------------main index-----------------------------*/
#titulo {
    background-color: $fondo-elemento;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    text-align: center;
    font-family: "Bungee Outline", serif;
    font-size: 2.2rem;
    font-weight: 900;
    padding: 20px;
    margin: 0px 40%;
    margin-top: 50px;
}
#subtitulo {
    font-family: "Changa", serif !important;
    color: black; 
    background-color: $fondo-elemento;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 0px 40%;
    margin-bottom: 100px;
}
#section-index {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: $font-general;
    font-size: 1em;
    font-weight: 500;
    text-align: center; 
    .cajas-index {
        background-color: rgba(170, 170, 170, 0.9);
        color: black;
        border-radius: 10px;
        padding: 15px;
        justify-items: center;        
    }
    .img-index {
        width: 150px;
        height: 150px;
    }
    .img-index:hover {
        transform: scale(1.5,1.5);
    }
    .parrafo-index {
        background-color: rgba(170, 170, 170, 0); // arreglo de color de fondo, sino se superponia con el de la caja
        text-align: center;
        margin: 15px;
        width: 200px;
    }   
}

/*--------------------main tienda---------------*/

.subtitulo-tienda {
    display: inline;
    border-radius: 10px;
    background-color: rgba(170, 170, 170, 0.9);
    color: black;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .carta-producto {
        align-content: center;
        max-width: 33%;
        background-color: rgba(170, 170, 170, 0.9);
        color: black;
        border-radius: 10px;
        margin: 15px;
    }
    img {
        max-width: 100%;
        align-items: center;
        border-radius: 10px;
    }
}

/*--------------------main contact--------------------------------*/

main a {
    text-decoration: none;
    color: black;
}
.contenedor-grid {
    
    font-family: $font-general;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 70px 100px repeat(4,120px);
    grid-template-areas: 
        "titulo1 titulo1 titulo1"
        "texto1 . texto2"
        "icono1 enlace1 formulario1"
        "icono2 enlace2 formulario2"
        "icono3 enlace3 ."
        "icono4 enlace4 .";
    .titulo1 {
        grid-area: titulo1;
    }
    .texto1 {
        grid-area: texto1;
    }
    .texto2 {
        grid-area: texto2;
    }
    .icono1 {
        background-color: $fondo-elemento;
        grid-area: icono1;
        width: 100px;
        justify-self: center;
        border-radius: 50px;
    }
    .enlace1 {
        display: inline;
        background-color: $fondo-elemento;
        grid-area: enlace1;
        align-content: center;
        border-radius: 10px;
        margin: 10px;
    }
    .formulario1 {
        background-color: $fondo-elemento;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        grid-area: formulario1;
        width: 75%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    .icono2 {
        grid-area: icono2;
        justify-self: center;
        background-color: $fondo-elemento;
        border-radius: 50px;
    }
    .enlace2 {
        grid-area: enlace2;
        align-content: center;
        background-color: $fondo-elemento;
        border-radius: 10px;
        margin: 10px;
    }
    .formulario2 {
        grid-area: formulario2;
        background-color: $fondo-elemento;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        align-content: center;
        padding: 15px;
        width: 75%;
    }
    .icono3 {
        grid-area: icono3;
        justify-self: center;
        background-color: $fondo-elemento;
        border-radius: 50px;
    }
    .enlace3 {
        grid-area: enlace3;
        align-content: center;
        background-color: $fondo-elemento;
        border-radius: 10px;
        margin: 10px;
    }
    .icono4 {
        grid-area: icono4;
        justify-self: center;
        background-color: $fondo-elemento;
        border-radius: 50px;
        
    }
    .enlace4 {
        grid-area: enlace4;
        align-content: center;
        background-color: $fondo-elemento;
        border-radius: 10px;
        margin: 10px;
    } 
}
/*----------------------main location--------------------------*/

main {
    width: 100%;
    padding: 15px;
    font-weight: 500;
    font-family: $font-general;
    .mapa {
        padding: 15px;
        background-color: $fondo-elemento;
        border-radius: 10px;
        width: 60%;
    }
}
/*---------- main about us------------------*/

h1 {
    display: inline;
    background-color: $fondo-elemento;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
}

p {
    background-color: rgba(170, 170, 170, 0.9);
    color: black;
    border-radius: 10px;
    padding: 10px;
}
.foto-inicial {
    @extend .mapa;
    width: 40% !important; 
}
@import "./partials/footer";
@import "./partials/mediaQueries";