/*--------------------footer-----------------------------------*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    padding: 15px;
    .p-footer {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        margin: 10px;
        background-color: blanchedalmond;
    }
    a {
        margin: 5px;

    }
    #redes-footer {
        display: flex;
        align-items: center;
    }
}