/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Parametros generales */
html {
    font-family: "Exo", serif;
}

body {
    background-color: rgb(154, 167, 162);    
}

h1, h2, h3 {
    font-family: "Exo", serif;
}