/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Parametros generales */
html {
    font-family: "Exo", serif !important;
}

body {
     background-image: url(../img/diseño.png);    
}
// main {
//     background-image: url(../img/diseño.png);
// }
h1, h2, h3 {
    font-family: "Exo", serif;
}