/*------------- media queries--------------------*/
/*------------- header mobile -------------------*/
@media (max-width: 500px){
    header{
        flex-direction: column;
        font-size: 60%;
        align-items: center;
        img {
            width: 80px;
            height: 80px;
        }
        nav{
            width: 100%;
        }
    }

/*--------- main index mobile--------------------*/

    #titulo {
        width: 100%;
        margin: 0%;
        margin-top: 10px;
    }
    #subtitulo {
        width: 100%;
        margin: 0%;
    }
    #section-index{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        font-size: 90%;
        .cajas-index{
            margin-bottom: 10px;
        }
        img {
            width: 80px;
            height: 80px;
        }
    } 

/*------------ main tienda mobile ---------------------*/

.productos {
    flex-direction: column;
    align-items: center;
    .carta-producto {
        width: 90%;
        font-size: 90%;
    }
}

/*------------ main contact mobile---------------------*/

    .contenedor-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 100px repeat(7,120px);
        grid-template-areas:
        "titulo titulo"
        "texto1 texto1"
        "icono1 enlace1"
        "icono2 enlace2"
        "icono3 enlace3"
        "icono4 enlace4"
        "texto2 texto2"
        "formulario1 formulario1"
        "formulario2 formulario2";
        img {
            width: 80px;
            height: 80px;
        }
        form {
            width: 100%;
        }
    }

/*--------------main location mobile------------------------*/
    main .mapa {
        margin-left: auto;
        padding: 10px;
        width: 100%;
    }

/*---------------main about us mobile----------------*/
    main .foto-inicial {
        margin-left: auto !important;
        width: 100% !important;
    }
/*-----------footer mobile---------------------*/

    footer {
        font-size: 85%;
        a {
            margin: auto;
        }
    } 
}

/*--------------- Media Queries TABLET-----------------*/

@media (min-width: 501px) and (max-width: 991px){

/*-----------main index tablet--------------*/
    #titulo {
        width: 50%;
        text-align: center;
        margin: 20%;
        margin-bottom: 0px;
    }
    #subtitulo {
        width: 50%;
        text-align: center;
        margin: 20%;
        margin-top: 0px
    }
    #section-index {
        flex-wrap: wrap;
        .cajas-index{
            margin-bottom: 15px;
        }
    }

/*-----------main location TABLET--------------*/
    .mapa {
        width: 80% !important;
        margin-left: auto !important;
    }
/*-----------main about us TABLET--------------*/
    .foto-inicial {
        width: 80%;
        margin-left: auto !important;
    }

}